body
{
    background-color: rgb(243, 204, 97);
}

h1
{
    color: rgb(150, 90, 69);
}

h2
{
    color: rgb(150, 90, 69);
}

h3
{
    color: rgb(150, 90, 69);
}

hr
{
    width: 70%;
    
    margin: auto;
    border-style: none none dotted;
    border-width: 10px;
    background-color: rgba(255, 255, 255, 0);
    
}