body
{
    background-color: rgb(255, 235, 181);
}

hr
{
    width: 70%;
    
    margin: auto;
    border-style: none none dotted;
    border-width: 10px;
    background-color: rgba(255, 255, 255, 0);
    
}